* {
    margin: 0;
}

.intro-nikolaj {
    background-color: orange;
}

.intro-nikolaj img {
    scale: 100%;
    max-width: 500px;
}

.team {
    display: flex;
    justify-content: center;
    font-size: 100px;
    color: lime;
    background-color: hotpink;
}