* {
    margin: 0;
}

.intro-nikolaj {
    background-color: orange;
    padding: 20px;
    color:blue;
}

.intro-nikolaj p {

    font-family: 'Arial';
    font-size: 18px;

}

.lol {
    display: flex;
    justify-content: center;
}

.intro-nikolaj span {
    font-family:'Comic Sans MS';
    font-size: 32px;
}

.intro-nikolaj img {
    scale: 100%;
    max-width: 500px;
}

.team {
    display: flex;
    justify-content: center;
    font-size: 100px;
    color: lime;
    background-color: hotpink;
}

.intro-viktor {
    background-color: darkolivegreen;
    color: khaki;
    font-family: cursive;
}